* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.body {
  background-color: #f4f4f4;
}

header {
  background-color: #8d6649;
  color: #fff;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  height: 90px;
}



nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  display: inline-flex;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: flex;
  height: 80%;
}

.main-content {
  width: 70%;
}
.container-conten1 {
  margin-top: 16px;
  margin-left: 10%;
  display: flex;
}
.img-content1 {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
.container-conten2 {
  padding-right: 10%;
  padding-left: 20px;
}
.li-conten {
  margin-left: 20px;
  padding: 10px;
}

.aside-content {
  width: 30%;
  background-color: #f4f4f4;
  padding: 20px;
}

.feature {
  padding: 0;
  margin-top: 5px;
}
.sidebar-image{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

@media screen and (max-width: 100px) {
  .footer {
   flex-direction: column;
  }
  .container {
    flex-direction: column;
}

  .main-content,
  .aside-content {
    width: 100%;
  }
}
.footer {
  background-color: #8d6649;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
